* {
    box-sizing: border-box;

}

body {
    margin-top: 5em;
    font: 20px/1.5 "Helvetica", Arial, sans-serif;
}

.container {
    position: relative;
    width: 100%;
	overflow: hidden;
    margin-bottom: 10rem;

}

.slider-container {
    position: absolute;
	width:100%;
    left:0;
}

.slide {
	position: absolute;
	width: 100%;
	padding:0 10%;
	box-sizing:border-box;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
}

.slider-container.animated {
	-webkit-transition: left .3s ease-in;
	transition: left .3s ease-in;
}


.simple-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Nav */
#prev,
#next {
    position: absolute;
    top: 50%;
	left:50%;
    transform: translateY(-50%);
    z-index: 999999;
    display: inline-block;
    height: 3em;
    width: 3em;
    border-radius: 50%;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
}

#prev.disabled, #next.disabled { display:none;}

#prev { background-image: url('../html/arrow-left-out.svg'); margin-left:-480px;}

#prev:hover { background-image: url('../html/arrow-left-over.svg');}

#next {
    margin-left:430px;
    background-image: url('../html/arrow-right-out.svg');

}

#next:hover { background-image: url('../html/arrow-right-over.svg'); }