
.body{background:linear-gradient(
    147deg,#ff3469 25%,#ffaa71 100%);color: white;margin-top: 5rem;margin-bottom:5rem;height:7rem
    }
.service{
    padding:10px;
}

.analysis-info{
    font-size: 15px;
    margin:8px;
    font-family: 'Roboto', sans-serif;
}
.description{
   
    background-color:#eff3f7;
    color:black;
    margin-left: 2rem;margin-right: 2rem;
    margin-top: 5rem;height:12rem;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
    align-items: center;
}
.skills, .pos,.chat-ratio{
    background-color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    font-weight: 300;
    border-radius: 5px;
    color: #adaeb9;
    box-shadow: 5px 13px 27px -5px rgba(50, 50, 93, 0.25),
    5px 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
    padding-top:20px;
}
.kakao_info{
    background-image: linear-gradient(to top, #a3bded 0%, #6991c7 100%);    
    color: #efeffe;
    margin-top: 5rem;margin-bottom:5rem;height:7rem;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        font-weight: 300;
        font-family: 'Roboto', sans-serif;
        border-radius: 5px;
        box-shadow: 5px 13px 27px -5px rgba(50, 50, 93, 0.25),
        5px 8px 16px -8px rgba(0, 0, 0, 0.3), 0 -6px 16px -6px rgba(0, 0, 0, 0.025);
        padding-top:20px;
    }
.chat-ratio-title, .skills-title, .kakao_title{
    color:grey;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size:20px;
}





