.explan {
    border: 1px solid #dcdcdc;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.ex {
    font-size: 20px;
}

.int_file {
    margin-top: 5%;
    margin-left: 43%;
    margin-bottom: 5%;
    font-size: 15px;
}

.submit {
    text-align: center;
    margin-bottom: 5%;
    margin-left: 47%;
    border-radius: 5px;
    border-color: #eff3f7;
}
  
  .box input[type="file"] {
    border: 0;
    border-radius: 3px;
    border-color: #eff3f7;
}