.explan {
    border: 1px solid #dcdcdc;
    margin-top: 10%;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
}

.ex {
    font-size: 20px;
}

#textfile {
    margin-top: 5%;
    margin-left: 45%;
}

.but {
    color: white;
    text-align: center;
    margin-top: 5%;
    margin-bottom: 5%;
}
