<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewpoint" content="width=device-width, inital-scale=1.0" />
    <title>[KUSITMS] 기업 프로젝트 - 02조</title>
    <link rel="stylesheet" href="stylesheets/loader.css" />
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  </head>
  <body>
    <div class="loading">
      <div id="mask">
        <div class="loader">
          <div class="loading_2">
            <div class="wrap">
              <a href="#" id="logo"> </a>
            </div>
          </div>
          <div class="loading_1"></div>
        </div>
      </div>
      <!-- <div class="window">
       <input type="button" href="#" class="close" value="나는야 닫기 버튼(.window .close)"/>
    </div> -->
      <a href="#" class="openMask">분석하기</a>

      <!-- <div class= "loader">
        <div class="loading_2">

             <div class="wrap">
                <a href="#" id="logo"> </a>
              </div>
        </div>
        <div class="loading_1"></div>
    </div> -->
    </div>
    <script src="/javascripts/loading.js"></script>
  </body>
</html>
