body {
  margin: 0;
  padding: 0;
}

.navbar_body {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  box-sizing: border-box;
  transition: top 0.6s;
  background: rgba(0, 0, 0, 0.6);
  padding-top: 27px;
  padding-left: 170px;
  overflow: hidden;
  height: 5.5rem;
  border: 2rem;
}
.menu-wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.navbar_menu {
  overflow: hidden;
  list-style: none;
  display: flex;
  margin-left: auto;
}

.navbar_menu li {
  float: left;
  margin-right: 60px;
  color: white;
}

.navbar_menu li a {
  text-decoration: none;
  font-family: "Sen", sans-serif;
  font-size: 20px;
  /* font-weight: bold;*/
}

.navbar_body.animate {
  top: -71px;
}
.navbar_body.sticky {
  top: 0;
  z-index: 99;
}

#logo {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translateY(-50%);
  z-index: 999999;
  display: inline-block;
  height: 3em;
  width: 10em;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("요즘것들logo.png");
}
